/** Add css rules here for your application. */
@font-face {
	font-family: 'STIXGeneral';
	src: url('fonts/stixgeneral-webfont.eot');
	src: local('[smiley]'), url('fonts/stixgeneral-webfont.woff')
		format('woff'), url('fonts/stixgeneral-webfont.ttf')
		format('truetype'),
		url('fonts/stixgeneral-webfont.svg#webfontZXtFAA5Q') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'STIXGeneral';
	src: url('fonts/stixgeneralitalic-webfont.eot');
	src: local('[smiley]'), url('fonts/stixgeneralitalic-webfont.woff')
		format('woff'), url('fonts/stixgeneralitalic-webfont.ttf')
		format('truetype'),
		url('fonts/stixgeneralitalic-webfont.svg#webfont2oJeLJIt')
		format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'STIXGeneral';
	src: url('fonts/stixgeneralbol-webfont.eot');
	src: local('[smiley]'), url('fonts/stixgeneralbol-webfont.woff')
		format('woff'), url('fonts/stixgeneralbol-webfont.ttf')
		format('truetype'),
		url('fonts/stixgeneralbol-webfont.svg#webfontwFpnxWyx') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'STIXGeneral';
	src: url('fonts/stixgeneralbolita-webfont.eot');
	src: local('[smiley]'), url('fonts/stixgeneralbolita-webfont.woff')
		format('woff'), url('fonts/stixgeneralbolita-webfont.ttf')
		format('truetype'),
		url('fonts/stixgeneralbolita-webfont.svg#webfontSsfHxKRo')
		format('svg');
	font-weight: bold;
	font-style: italic;
}

/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 1.5em;
	color: #666;
	margin: 40px 0px 40px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.mainPanel {
	margin: auto;
}

button.math {
	font-family: 'STIXGeneral';
	height: 48px;
	padding: 0;
	width: auto;
}

button.answer-button {
	min-width: 48px;
	margin: 0.5em;
}

button.monomial,button.symbol {
	background: none repeat scroll 0 0 transparent;
	border: none;
}

button.symbol {
	font-size: 24px;
	font-style: italic;
	height: 64px;
}

button.size1, span.size1 {
    font-size: 32px;
    margin-left: -4px;
    margin-right: -4px;
}

button.size2, span.size2 {
    font-size: 36px;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: -2px;
}

button.monomial:hover{
	box-shadow: 0 1px 1px #666;
	margin: -1px;
}

button.monomial:active {
    border: 1px inset #666;
    border-radius: 2px;
}

div.math {
	font-size: 24px;
	font-style: italic;
}

button.selected>div,table.selected {
	border: 1px solid #dc5c04;
	border-radius: 2px;
}

button.unselected>div,table.unselected {
	border: none;
}

.dragdrop-movable-panel {
	width: 100px !important;
}

sub.index {
	position: absolute;
}

div.gwt-HTML {
	position: relative;
}

.gwt-HTML sub {
	bottom: -6em;
}

table.mainPoly {
	background: none repeat scroll 0 0 #d7ecfc;
	border: 1px solid #133D5E;
	border-radius: 6px 6px 6px 6px;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 2em;
}

table.popup-calculation {
	margin: auto;
}

.clickable {
	cursor: pointer;
}

.messageFrame {
	float: right;
	padding: 12px;
	font-size: 18px;
	font-style: normal;
}

button.refresh {
	background: url("./pictures/Refresh-icon.png") no-repeat scroll 0 0
		transparent;
	height: 48px;
	width: 48px;
	float: left;
}

button.operate {
	background: url("./pictures/calc.png") no-repeat scroll 0 0 transparent;
	height: 48px;
	width: 48px;
	float: right;
}

button.success {
	background: url("./pictures/ok.png") no-repeat scroll 0 0 transparent;
	height: 48px;
	width: 48px;
	float: left;
	margin-left: 5px;
}

button.refresh:hover, button.operate:hover, button.success:hover {
	opacity: 0.8;	
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	border: 1px solid #666;
}

/* Glowing buttons */
@keyframes pulse {
    from { background-color: #fff; box-shadow: 0 0 9px #fff; opacity: 1; }
    25% { background-color: #def; box-shadow: 0 0 32px #99f; opacity: 0.8;}
	50% { background-color: #fff; box-shadow: 0 0 9px #fff; opacity: 1;}
	75% { background-color: #afa; box-shadow: 0 0 32px #0f0; opacity: 0.8;}v
    to { background-color: #fff; box-shadow: 0 0 9px #fff; opacity: 1;}
}      
    
@-webkit-keyframes greenPulse {
    from { background-color: #fff; -webkit-box-shadow: 0 0 9px #fff; opacity: 1; }
    25% { background-color: #def; -webkit-box-shadow: 0 0 32px #99f; opacity: 0.8;}
	50% { background-color: #fff; -webkit-box-shadow: 0 0 9px #fff; opacity: 1;}
	75% { background-color: #afa; -webkit-box-shadow: 0 0 32px #0f0; opacity: 0.8;}v
    to { background-color: #fff; -webkit-box-shadow: 0 0 9px #fff; opacity: 1;}
}

button.glowingButton {
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

#levelLabel {
	text-align: center;
	margin-bottom: 0.3em;
}

#slider {
	margin: auto;
	margin-bottom: 2em;
}

div.levelSlider {
	border: 1px solid #666;
	border-radius: 5px 5px 5px 5px;
	clear: both;
	background-color: #ccc;
	padding: 0.5em 1em;
}

#slider>a.ui-slider-handle {
	border: 1px solid #666;
}

div.sliderTitle {
	color: #666666;
	font-size: larger;
	text-align: center;
}

div.buttonPanel {
	margin-bottom: 1em;
	height: 48px;
}

div.toolPanel {
	width: 500px;
	margin: auto;
}

div.gwt-PopupPanel {
	z-index: 100;
}

div.messagePopupText {
	padding: 1em;
}

div.popupContent {
	padding: 1em;
}